
#selectedFiles {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

#selectedFiles td { padding: 5px;}

#selectedFiles tr{
	border: 1px solid #fff;
	background-color: #eee;
}
#selectedFiles tr:hover{
	background-color: #ccc;
	cursor:pointer;
}